<ActionBar title="Edit Combatant">
        <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="returnToEncounter()"></NavigationButton>
    </ActionBar>
    <StackLayout>
        <Label
            text="Name"
            fontSize="18"
            fontWeight="bold"
            marginLeft="13"
            marginRight="10"
            marginTop="10"></Label>
        <TextField 
            class="input input-border"
            [(ngModel)]="combatantName" 
            secure="false"
            autocorrect="true"
            marginLeft="10"
            marginRight="10"></TextField>
        <Label
            text="Initiative"
            fontSize="18"
            fontWeight="bold"
            marginLeft="13"
            marginRight="10"
            marginTop="10"></Label>
        <TextField 
            class="input input-border"
            [(ngModel)]="combatantInitiative" 
            secure="false"
            keyboardType="number"
            autocorrect="true"
            marginLeft="10"
            marginRight="10"></TextField>               
        <Label
            *ngIf="combatantTracksHitPoints"
            text="Current Hit Points"
            fontSize="18"
            fontWeight="bold"
            marginLeft="13"
            marginRight="10"
            marginTop="10"></Label>
        <TextField 
            *ngIf="combatantTracksHitPoints"
            class="input input-border"
            [(ngModel)]="combatantCurrentHitPoints"
            secure="false"
            keyboardType="number"
            (returnPress)="updateCombatant()"
            autocorrect="true"
            marginLeft="10"
            marginRight="10"></TextField>
        <DockLayout
            *ngIf="!combatantTracksHitPoints"
            class="input input-border"
            marginLeft="15"
            marginRight="10"
            marginTop="10">
            <Label
                text="Is Active?"
                dock="left"
                fontSize="18"
                fontWeight="bold"></Label>
            <Switch
                [(ngModel)]="combatantIsActive"
                dock="right"></Switch>
        </DockLayout>
        <Button
            text="Edit" 
            (tap)="updateCombatant()" 
            isEnabled="{{ formIsValid() }}"
            horizontalAlignment="right"
            marginRight="10"
            marginTop="10"></Button>
    </StackLayout>
    