<ActionBar title="Add Combatant">
        <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="returnToEncounter()"></NavigationButton>
    </ActionBar>
    <StackLayout>
        <TextField 
            class="input input-border"
            [(ngModel)]="combatantName" 
            hint="Name"
            secure="false"
            autocorrect="true"
            marginLeft="10"
            marginRight="10"
            marginTop="10"></TextField>
        <TextField 
            class="input input-border"
            [(ngModel)]="combatantInitiative" 
            hint="Initiative"
            secure="false"
            keyboardType="number"
            autocorrect="true"
            marginLeft="10"
            marginRight="10"
            marginTop="10"></TextField>
        <DockLayout
            class="input input-border"
            marginLeft="15"
            marginRight="10"
            marginTop="10">
            <Label
                text="Track Hit Points?"
                dock="left"
                fontSize="18"></Label>
            <Switch
                [(ngModel)]="combatantTracksHitPoints"
                dock="right"></Switch>
        </DockLayout>
        <TextField 
            *ngIf="combatantTracksHitPoints"
            class="input input-border"
            [(ngModel)]="combatantMaximumHitPoints" 
            hint="Maximum Hit Points"
            secure="false"
            keyboardType="number"
            (returnPress)="addCombatant()"
            autocorrect="true"
            marginLeft="10"
            marginRight="10"
            marginTop="10"></TextField>
        <Button
            text="Add" 
            (tap)="addCombatant()" 
            isEnabled="{{ formIsValid() }}"
            horizontalAlignment="right"
            marginRight="10"
            marginTop="10"></Button>
    </StackLayout>
    