<ActionBar title="{{encounter.name}}">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="returnToEncounters()"></NavigationButton>
</ActionBar>
<StackLayout>
    <DockLayout
        stretchLastChild="false"
        marginLeft="10"
        marginRight="10"
        marginTop="5"
        marginBottom="5">
        <Button 
            dock="right"
            text="Add Combatant" 
            (tap)="navigateToAddCombatant()"></Button>
    </DockLayout>
    <ListView
        *ngIf="combatants && combatants.length > 0" 
        [items]="combatants" 
        borderTopWidth="1"
        borderColor="gray">
        <ng-template let-combatant="item">
            <StackLayout
                marginTop="10"
                borderBottomWidth="1"
                borderColor="gray"
                padding="10"
                paddingLeft="17"
                (tap)="navigateToEditCombatant(combatant.id)">
                <Label 
                    fontSize="18" 
                    fontWeight="bold"
                    [text]="combatant.name"></Label>
                <Label 
                    fontSize="14" 
                    text="{{ 'Initiative: '+combatant.initiative }}"></Label>     
            </StackLayout>
        </ng-template>
    </ListView>
    <Label 
        *ngIf="!combatants || combatants.length <= 0" 
        text="This encounter doesn't have any combatants."
        horizontalAlignment="center"
        marginTop="50"
        textAlignment="center"></Label>
    <Label 
        *ngIf="!combatants || combatants.length <= 0" 
        text="Add some to get the fight started!"
        horizontalAlignment="center"
        textAlignment="center"></Label>
</StackLayout>